// sass --watch scss:css
$cyn: cyan;
$danger: darkorange; 
$orr: orangered; 
$red:  red;
$oq:  hsla(0,0%,100.0%,1);
$qora: hsla(0,0%,0.0%,1);
$green: hsla(120.0,100.0%,50.0%,1);
$padding: 1em;
$Tright: right;

// mixin 1-ulus 
@mixin fyashil {
	background-color : $green;
	color : $oq;
} @mixin fqora {
	background-color : $qora;
	color : $oq;
} @mixin qizilFon  {
	background-color : $red;
	color : $oq;
} @mixin fdo {
	background-color: $danger;
	color: $qora;
}
@mixin m-p { margin: 0; padding: 0; }

// mixin 2-ulus 
@mixin font($fcolor, $fsize, $fweight) {
	font-size: $fsize; // uzgaruvchan
	font-weight: $fweight; // uzgaruvchan
	font-family: times;	// uzgaruvchan
	font-style: italic; // uzgarmas
	color: $fcolor; // uzgaruvchan
} @mixin bg-dark($bcolor, $tcolor) {
	background-color: $bcolor;
	color: $tcolor;
} @mixin bg-red($tcolor, $bcolor: red) {
	background-color: $bcolor;
	color: $tcolor;
} @mixin bg-cyan($bcolor: cyan, $tcolor: red) {
	background-color: $bcolor;
	color: $tcolor;
}

// mixin 3-usul 
@mixin pdd($pdd...) {
	padding: $pdd;
} @mixin mar($mar...) {
	margin: $mar;
}


body {
	@include fqora;
	@include font($green, 1em, 400);
	@include bg-dark ($bcolor: black, $tcolor: white);
	@include pdd(10px 40px 70px 100px);
}

header {
	@include bg-red(black);
		nav a {
			@include bg-cyan;
		}
} 

.test {
	@include fdo;
	@include mar(10px 40px 70px 100px);
}

.list {
	color: $orr; 
		ul {
			text-transform: uppercase;
			@include font(red, 1em, 400);

			li {
				@include fyashil;
				text-align: center;
				color: $oq;
			}
		}
}

.list-2 {
	background: $qora;
	@include mar( 50px 30px 200px 200px);
	@include pdd( 10px 30px 60px 100px);
	 ul {
	 		list-style: none;
				li {
					text-align: center;
					margin: 1em;
					color: $oq;
				}
	 }
}

.block{
background: green;
margin: 1em 0;
font-size: 1em;
}