// sass --watch scss:css
$bgColor: cyan;
$bgOr: orange; 
$orr: orangered; 
$RColor:  red;
$WColor:  white;
$BColor: black;
$padding: 11px;
$Tright: right;

* {
	padding: 0;
	margin: 0;
}

body {
	background: $bgColor;
	color: $WColor;
	padding: $padding;
}

.list {
	color: $orr; 
		ul {
			text-transform: uppercase;
			font-size: 2em;
			font-weight: bold;
			font-style: italic;

			li {
				text-align: center;
			}
		}
}

.block{
background: green;
margin: 1em 0;
font-size: 1em;
}