// sass --watch scss:css
// sass --watch starter.scss:css/style.css

@import "variables";
@import "mixins";

a {
	@include link(white, red, blue, cyan);
}

@include navlink(white, red, blue, cyan); 

body {
	@include fqora;
	@include font($green, 1em, 400);
	@include bg-dark ($bcolor: black, $tcolor: white);
	@include pdd(10px 40px 70px 100px);
}

header {
	@include bg-red(black);
		nav a {
			@include bg-cyan;
				&:hover {
					color: $danger;
					padding: 10px;
				}
				&:after {
					content: " test";
				}
		}
} 



.test {
	@include fdo;
	@include mar(10px 40px 70px 100px);
}

.list {
	color: $orr; 
		ul {
			text-transform: uppercase;
			@include font(red, 1em, 400);

			li {
				@include fyashil;
				text-align: center;
				color: $oq;
			}
		}
}

.list-2 {
	background: $qora;
	@include mar( 50px 30px 200px 200px);
	@include pdd( 10px 30px 60px 100px);
	 ul {
	 		list-style: none;
				li {
					text-align: center;
					margin: 1em;
					color: $oq;
				}
	 }
}

.block{
background: green;
margin: 1em 0;
font-size: 1em;
}